{% extends 'base.html' %}

{% block content %}
<div class="row margin-top-200">
  <div class="col s12 l10 offset-l1">
    {% if request.user.is_authenticated %}
    <h1>{{ request.user.username }}님 안녕하세요~</h1>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-block">Log out</button>
    </form>
    {% else %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-block">로그인</button>
    </form>
    <a href="{% url 'accounts:signup' %}" type="button" class="btn btn-block" style="margin-top: 10px;">회원가입</a>
    {% endif %}
  </div>
</div>
{% endblock %}
