{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>블로그 - {{ pk }} 번째 게시물</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/core_event.js' %}"></script>

</head>
<body>
    <header>
        <ul id="dropdown_for_login_user" class="dropdown-content">
            <li><a href="{% url 'accounts:profile_detail' request.user.username %}">프로필 보기</a></li>
            <li><a href="{% url 'accounts:logout' %}">Log out..</a></li>
        </ul>

        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 10px;">우철's 블로그</a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown_for_login_user">{{ request.user }}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                <li><a href="{% url 'accounts:login' %}">로그인</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>

    </header>

    <div class="container" style="margin: 50px auto;">
        {% block content %}{% endblock %}
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
</body>
</html>
