{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>블로그 - {{ pk }} 번째 게시물</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/core_event.js' %}"></script>

</head>
<body>
    <header>

        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 10px;">우철's 블로그</a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown_for_login_user">{{ request.user }}<i class="material-icons right">arrow_drop_down</i></a>

                    <ul id="dropdown_for_login_user" class="dropdown-content">
                        <li><a href="{% url 'accounts:profile_detail' request.user.username %}">프로필 보기</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Log out..</a></li>
                    </ul>

                </li>
                {% else %}
                <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                <li><a href="{% url 'accounts:login' %}">로그인</a></li>
                {% endif %}
            </ul>
            <ul id="slide-out" class="side-nav">
                {% if request.user.is_authenticated %}
                <li>
                    <div class="user-view">
                        <div class="background"></div>
                        <a href="#!user"><img class="circle" src="{{ request.user.profile.image_url }}"></a>
                        <a href="#!name"><span class="white-text name">{{ request.user }}</span></a>
                        <a href="#!email"><span class="white-text email">{{ request.user.email }}</span></a>
                    </div>
                </li>
                <li><a href="{% url 'accounts:profile_detail' request.user.username %}">프로필 보기</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log out..</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">로그인</a></li>
                <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <script>
                $(".button-collapse").sideNav();
            </script>
          </div>
        </nav>

    </header>

    <div class="container" style="margin: 50px auto;">
        {% block content %}{% endblock %}
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">우철's 블로그</h5>
            <p class="grey-text text-lighten-4">piro_remind version입니다.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">강의 GitHub Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/dlkorea/piro/" target="_blank">piro</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/dlkorea/piro_remind/" target="_blank">piro_remind</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright 2018. 정우철, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="https://github.com/dlkorea/" target="_blank">강사 GitHub</a>
        </div>
      </div>
    </footer>
</body>
</html>
